:root{
/* PALETTE */
    --coffe: rgba(89, 62, 32, 1);
    --orange: rgba(188, 99, 39, 1);
    --yellow: rgba(216, 155, 72, 1);
    --beige: rgba(222, 201, 134, 1);
    --green: rgba(79, 153, 116, 1);
/* FONT */
    --fontHeading: "PT Sans", sans-serif;
    --fontParagraph: "Open Sans", sans-serif;
}
html{
    box-sizing: border-box;
    font-size: 62.5%; /* 1 rem = 10px */
}
*, *:before, *:after {
    box-sizing: inherit;
}
body{
    font-family: var(--fontParagraph);
    font-size: 1.6rem;
    line-height: 2;
}
/* GLOBALS */
.container {
    max-width: 120rem;
    width: 90%;
    margin: 0 auto;
}
a {
    text-decoration: none;
}
h1, h2, h3, h4 {
    font-family: var(--fontHeading);
}
h1 {
    font-weight: 4.8rem;
}
h2 {
    font-weight: 4rem;
}
h3 {
    font-weight: 3.2rem;
}
h4 {
    font-weight: 2.8rem;
}
img {
    max-width: 100%;
}
/* UTILITIES */ 
.no_margin {
    margin: 0;
}
.no_padding {
    padding: 0;
}
.text_center {
    text-align: center;
}
/* HEADER */
.header {
    background-image: url(../img/banner.jpg);
    height: 60rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right center; /* center image horizontal and vertical*/
}
.header__text {
    background-color: rgba(89, 62, 32, .4);
    text-align: center;
    color: var(--yellow);
    margin-top: 5rem;
    padding: 3rem;
}
@media (min-width: 768px) {
    .header__text {
        margin-top: 15rem;
    }
}
@media (min-width: 768px) {
    .navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}
.logo {
    color: var(--beige);
}
.logo__name {
    font-weight: 400;
}
.logo__bold {
    font-weight: bold;
    color: var(--green);
}
@media (min-width: 768px) {
    .navbar__linkbar {
        display: flex;
        gap: 2rem;
    }
}
.navbar__linkbar {
    padding: 1rem 6rem;
}
.navbar__link {
    display: block;
    text-align: center;
    color: var(--beige);
    font-size: 1.8rem;
}
/* MAIN CONTENT */
@media (min-width: 768px) {
    .main_content {
        display: grid;
        grid-template-columns: 2fr 1fr;
        column-gap: 4rem;
    }
}
.blog h3 {
    padding: 1rem 2rem;
    background-color: var(--coffe);
    color: var(--yellow);
    width: 500;
}
.input {
    border-bottom: 3px solid var(--orange);
    margin-bottom: 3rem;
}
.input:last-of-type { /* TO DELETE THE BORDER THAT SEPARATE THE ENTRYS OF THE BLOG IN THE LAST INPUT */
    border: none;
    margin-bottom: 0;
}
.input__content {
    text-align: justify;
}
/* BUTTON CLASSES */
.button {
    display: block;
    font-family: var(--fontHeading);
    text-align: center;
    text-transform: uppercase;
    padding: 0.5rem 2rem;
    margin-bottom: 2rem;
}
@media (min-width: 768px) {
    .button {
        display: inline-block;
    }
}
.button__primary {
    color: var(--yellow);
    background-color: var(--coffe);
}
.button__primary:hover {
    font-weight: 700;
    background-color: var(--yellow);
    color: var(--coffe);
}
.button__secondary {
    border: 1px solid var(--green);
    border-radius: 3%;
    color: var(--green);
    font-weight: 700;
}
.button__secondary:hover {
    border: none;
    font-weight: 700;
    background-color: var(--green);
    color: var(--beige);
}
/* SIDEBAR */
.sidebar h3 {
    padding: 1rem 2rem;
    background-color: var(--green);
    color: var(--beige);
    width: 500;
}
.courses {
    list-style: none; /* |DEL| DOT LIST (VIGNETTE) */
}
.courses h4 {
    padding: 1rem 2rem;
    background-color: rgba(222, 201, 134, .4);
}
.widget-course {
    border-bottom: 3px solid var(--beige);
    margin-bottom: 3rem;
}
.widget-course:last-of-type {
    border: none;
    margin-bottom: 0;
}
.widget-course__label {
    font-family: var(--fontHeading);
    font-weight: bold;
}
.widget-course__info{
    font-weight: normal;
}


