root {
    --coffe: rgba(89,62,32,1);
    --orange: rgba(188,99,39,1);
    --yellow: rgba(216,155,72,1);
    --beige: rgba(222,201,134,1);
    --green: rgba(79,153,116,1);


    --fontHeading: "PT Sans", sans-serif;
    --fontParagraph: "Open Sans", sans-serif;
}
html{
    box-sizing: border-box;
    font-size: 62.5%; /* 1 rem = 10px */
}
*, *:before, *:after {
    box-sizing: inherit;
}
body{
    font-family: var(--fontParagraph);
    font-size: 1.6rem;
    line-height: 2;
}
/* GLOBALS */
.container {
    max-width: 120rem;
    width: 90%;
    margin: 0 auto;
}
a {
    text-decoration: none;
}
h1, h2, h3, h4 {
    font-family: var(--fontHeading);
}
h1 {
    font-weight: 4.8;
}
h2 {
    font-weight: 4;
}
h3 {
    font-weight: 3.2;
}
h4 {
    font-weight: 2.8;
}
img {
    max-width: 100%;
}
/* UTILITIES */ 
.no_margin {
    margin: 0;
}
.no_padding {
    padding: 0;
}
.text_center {
    text-align: center;
}
